// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito'); // Variables
@import 'variables'; // Bootstrap
@import '~bootstrap/scss/bootstrap';

.imgdiv {
	height: 200px;
	overflow: hidden;
}

.img_apart_container {
	height: 100%;
	width: 150px;
	overflow: hidden;
}

.img_apart {
	width: 450px;
}

.image_home {
	width: 100%;
}

.slider {
	height: 500px;
	overflow: hidden;
}

.map {
	width: 100%;
	height: 400px;
}

.dropdown-address {
	display: inline-block;
	position: absolute;
	left: 6px;
	top: 68px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0 ,0 ,0 , .26), 0 2px 10px 0 rgba(0 ,0 ,0 , .16);
	padding: 9px 0;
	text-align: left;
	z-index: 3;
}

.dropdown-address ul li {
	padding: 13px 24px 0;
	color: rgba(0, 0, 0, .5);
	font-size: 14.5px;
	height: 40px;
}

.dropdown-address ul li:hover {
	cursor: pointer;
	background-color: rgb(240, 240, 240);
	color: rgba(0, 0, 0, .8);
}

.hidden {
	display: none;
}

.markerHome {
	background-image: url('/storage/assets/home_icon.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.mapboxgl-popup-content {
	padding: 0 !important;
	border-radius: 5px !important;
	overflow: hidden !important;
}

.selected-marker {
	background-image: url('/storage/assets/marker_selected.png');
}