.top-header-search {
    padding: 0 25px;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);

    .top-header__wrapper {
        @include full;
        align-items: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;

        .top-header__left {
            a {
                display: flex;
                align-items: center;

                img {
                    width: 160px;
                }
            }

            .mobile-menu {
                display: none;
                position: relative;
            }

            .drop-down {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                height: 100vh;
                margin: 30px 0 0;
                transition: opacity linear 0.15s;
                background: #fff;
                border-top: 1px solid rgb(223, 223, 223);
                z-index: 4;

                li {
                    display: flex;
                    list-style: none;
                    justify-content: center;

                    a {
                        text-decoration: none;
                        color: $coloreTitoli;
                        font-size: 1.2em;
                        transition: 0.6s;
                        padding: 20px 0;

                        &:hover {
                            color: $colorePrincipale;
                        }
                    }
                }
            }

            .active {
                display: flex;
            }
        }

        .top-header__center {
            display: none;

            a {
                display: flex;
                align-items: center;

                img {
                    width: 32px;
                }
            }
        }

        .top-header__right {
            ul {
                display: flex;
                margin-bottom: 0;

                li {
                    list-style: none;
                    align-items: center;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        text-decoration: none;
                        color: $coloreTitoli;
                        font-size: 1em;
                        font-weight: 300;
                        transition: 0.6s;
                        padding: 0 25px;

                        &:hover {
                            color: $coloreOver;
                        }

                        &:hover i {
                            color: $coloreOver;
                        }

                        .lni-chevron-down {
                            vertical-align: middle;
                            padding-left: 5px;
                            font-size: 0.8em;
                            color: $coloreTitoli;
                        }
                    }

                    .dropdown-menu {
                        .dropdown-item {
                            padding: 10px 20px;

                            &:hover {
                                background-color: $white;
                                color: $colorePrincipale;
                            }
                        }
                    }

                    .btn__menu {
                        border: 2px solid $colorePrincipale;
                        color: $colorePrincipale;
                        border-radius: 25px;
                        padding: 8px 10px 12px;
                        transition: 0.6s;
                        font-weight: 600;

                        i {
                            margin-right: 10px;
                        }

                        &:hover {
                            background-color: $colorePrincipale;
                            color: rgb(255, 255, 255);

                            i {
                                color: white;
                                margin-right: 10px;
                            }
                        }
                    }
                }

                .menu__last-item {
                    border-right: 1px solid #e9ecef;
                }

                .parent__drop-down {
                    position: relative;
                }
            }

            .login-menu {
                display: none;
            }

            .login-menu__drop-down {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                height: 100vh;
                margin: 30px 0 0;
                transition: opacity linear 0.15s;
                background: #fff;
                border-top: 1px solid rgb(223, 223, 223);
                z-index: 4;

                li {
                    display: flex;
                    list-style: none;
                    justify-content: center;

                    a {
                        text-decoration: none;
                        color: $coloreTitoli;
                        font-size: 1.2em;
                        transition: 0.6s;
                        padding: 20px 0;

                        &:hover {
                            color: $colorePrincipale;
                        }
                    }
                }
            }

            .active {
                display: flex;
            }
        }
    }
}

.fix {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border-bottom: none;
    z-index: 3;
}

.fade-in-top {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
// MEDIA QUERY
@media screen and (max-width: 1024px) {
    .top-header-search {
        padding: 0;

        .top-header__wrapper {
            height: 90px;
            padding: 20px 25px;

            .top-header__left {
                .logo-lg {
                    display: none;
                }

                a {
                    align-items: center;

                    img {
                        width: 160px;
                    }
                }

                .mobile-menu {
                    display: inline-block;
                    font-size: 1.4em;
                    color: $coloreTitoli;
                    vertical-align: middle;
                    text-decoration: none;

                    &:hover {
                        color: $colorePrincipale;
                    }
                }
            }

            .top-header__center {
                display: inline-block;

                a {
                    display: flex;
                    align-items: center;

                    img {
                        width: 32px;
                    }
                }
            }

            .top-header__right {
                ul {
                    display: none;
                }

                .login-menu {
                    display: inline-block;
                    position: relative;
                    font-size: 1.4em;
                    color: $coloreTitoli;
                    vertical-align: middle;
                    text-decoration: none;


                    &:hover {
                        color: $colorePrincipale;
                    }
                }

                .mobile-menu {
                    display: inline-block;
                    font-size: 1.4em;
                    color: $coloreTitoli;
                    vertical-align: middle;
                    text-decoration: none;
                    text

                    &:hover {
                        color: $colorePrincipale;
                    }
                }

                .login-menu__drop-down {
                    .btn__menu {
                        border: 2px solid $colorePrincipale;
                        color: $colorePrincipale;
                        border-radius: 25px;
                        padding: 8px 10px;
                        transition: 0.6s;
                        font-weight: 600;

                        i {
                            margin-right: 10px;
                        }

                        &:hover {
                            background-color: $colorePrincipale;
                            color: rgb(255, 255, 255);

                            i {
                                color: white;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
